/* src/pages/Resume.css */

.resume-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: linear-gradient(135deg, #7bcb12, #feb47b);
    color: #333;
  }
  
  .resume-container {
    max-width: 800px;
    padding-top: 900px;
    padding-left: 50px;
    background-color: #9dc133;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contact-info {
    font-size: 1.1em;
    margin-bottom: 40px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }
  
  .section p, .section ul {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  .section ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .section ul li {
    margin-bottom: 10px;
  }
  
  .section h3 {
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .download-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .download-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }